.menu-item .menu-title{
    height: 30px;
    background-color: #00edec;
}
.menu-item .menu-content{
    margin-left: 20px;
}
.menu-item .menu-content a{
    display: block;
}

.menu-item .menu-content a.active{
    color: #ff0c07;
}
.hide{
    display: none;
}
